$font: 'Outfit', sans-serif;

$white: hsl(0, 0%, 100%);
$hover-cyan: hsl(178, 100%, 50%);
$font-color: hsl(215, 51%, 70%);
$body-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);